<app-header-template>
  <div title-template-header>Lista Productos</div>
</app-header-template>
<ion-content>
  <ion-progress-bar *ngIf="isLoading$| async"
    type="indeterminate">
  </ion-progress-bar>
  <ion-searchbar 
      inputmode="search"
      (ionInput)="onFilterList($event)"
      placeholder="Ingrese nombre producto"
      showCancelButton="always">
  </ion-searchbar>
  <ngx-datatable
        class="material"
        [rows]="currentProductsInList$| async "
        [columns]="columns"
        headerHeight="50"
        footerHeight="50"
        [reorderable]="reorderable"
        [columnMode]="force"
        (activate)="onActivate($event)"
        [scrollbarH]="true"
        [scrollbarV]="false"
        rowHeight="auto"
        [trackByProp]="id"
      ></ngx-datatable>
</ion-content>
