<app-header-template>
  <div title-template-header>Detalle order</div>
</app-header-template>
<ion-content>
  <ion-list class="order__list">
    <ion-item-divider>
      <ion-label>Orden</ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label>Id</ion-label>
      <ion-label slot="end">{{ order.id }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Fecha creacion</ion-label>
      <ion-label slot="end">{{ order.fecha }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Total Pagado</ion-label>
      <ion-label slot="end">{{ order.total }}</ion-label>
    </ion-item>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>Productos en orden</ion-label>
      </ion-item-divider>
    </ion-item-group>
    <ion-grid>
      <ion-row *ngFor="let product of products$ | async">
        <ion-item-divider>
          <ion-col class="col-list-products" size="2">
            <ion-item>
              <ion-avatar >
                <img src="{{ product.featured }}">
              </ion-avatar>
            </ion-item>
          </ion-col>
          <ion-col class="col-products" size="4">
            <ion-label>{{ product.name }}</ion-label>
          </ion-col>
          <ion-col *ngIf="product.pivot" class="col-products ion-text-center" size="5">
            {{ product.pivot | pivotFormat }}
          </ion-col>
        </ion-item-divider>
      </ion-row>
    </ion-grid>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>Informacion Despacho</ion-label>
      </ion-item-divider>
    </ion-item-group>
    <div *ngIf="(payment$| async)">
      <ion-item>
        <ion-label>Ciudad</ion-label>
        <ion-label slot="end">{{ (payment$| async).city }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Direccion</ion-label>
        <ion-label slot="end">
          {{ (payment$| async).comuna }} {{ (payment$| async).direction }}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Nombre Cliente</ion-label>
        <ion-label slot="end">
          {{ (payment$| async).name }} {{ (payment$| async).lastName }}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Rut/Identificacion</ion-label>
        <ion-label slot="end">
          {{ (payment$| async).documentId }}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Celular</ion-label>
        <ion-label slot="end">
          {{ (payment$| async).phone }}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Email</ion-label>
        <ion-label slot="end">
          {{ (payment$| async).email }}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Numero Envio</ion-label>
        <ion-label slot="end">
          {{ (payment$| async).deliveryId || 'No ingresado'}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Nombre Transporte</ion-label>
        <ion-label slot="end">
          {{ (payment$| async).deliveryName || 'No ingresado'}}
        </ion-label>
      </ion-item>
    </div>
  </ion-list>
</ion-content>