.header {
  &__icon {
    float: right;
  }
}
.container {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  &__delivery {
    &-form {
      width: 100%;
    }
    &-transport-id {
      width: 100%;
      border-bottom: #4444 2px solid;
    }
    &-transport-name {
      width: 100%;
      max-width: 100%;
      border-bottom: #4444 2px solid;
    }
  }
  ion-label, ion-note {
    font-size: 15px;
    color: #000;
  }
  ion-item-divider > ion-label {
    color: rgb(255, 255, 255);
  }
  .item-native {
    background-color: transparent;
  }
  ion-col {
    ion-item {
      .item-native {
        background-color: transparent;
      }
    }
  }
  &__product {
    &-eye {
      position: absolute;
      top: 0px;
    }
    &-quantity {
      font-size: 15px;
      color: #000;
    }
  }
}