<app-header-template>
  <div title-template-header>Detalle order</div>
</app-header-template>
<ion-content>
  <ion-list *ngIf="(order$ | async) as order; else noOrderInformation;"  class="order__list">
    <ion-item-divider color="primary">
      <ion-label>Pedido {{ order.id }}</ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label class="ion-text-wrap">Fecha creacion</ion-label>
      <ion-note slot="end">
        {{ order.created_at }}
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">Total Productos Pagado </ion-label>
      <ion-note slot="end">
        {{ order.total | currency }}
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">Total Envio Pagado </ion-label>
      <ion-note slot="end">
        {{ order.delivery_cost | currency }}
      </ion-note>
    </ion-item>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>Productos en orden</ion-label>
      </ion-item-divider>
    </ion-item-group>
    <ion-grid>
      <ion-row *ngFor="let product of products$ | async">
        <ion-item-divider>
          <ion-col class="col-list-products" >
            <ion-item>
              <ion-avatar >
                <img src="{{ product.featured }}">
              </ion-avatar>
            </ion-item>
          </ion-col>
          <ion-col class="col-products">
            <ion-label class="ion-text-wrap">{{ product.name }}</ion-label>
          </ion-col>
          <ion-col *ngIf="product.pivot" class="col-products ion-text-center" >
            {{ product.pivot | pivotFormat }}
          </ion-col>
        </ion-item-divider>
      </ion-row>
    </ion-grid>
    <ion-item-group>
      <ion-item-divider color="primary">
        <ion-label>Informacion Despacho</ion-label>
      </ion-item-divider>
    </ion-item-group>
    <div *ngIf="(payment$| async) as payment; else paymentNotFound">
      <div *ngIf="payment.delivery_type === 'home'">
        <ion-item>
          <ion-label class="ion-text-wrap">Ciudad</ion-label>
          <ion-note slot="end">
            {{ payment.city }}
          </ion-note>
        </ion-item>
        <ion-item>
          <ion-label class="ion-text-wrap">Direccion</ion-label>
          <ion-note slot="end">
            {{ payment.comuna }} {{ payment.direction }}
          </ion-note>
        </ion-item>
      </div>
      <ng-template #inStore>
        Retiro en local.
      </ng-template>
      <ion-item>
        <ion-label class="ion-text-wrap">Nombre Cliente</ion-label>
        <ion-note slot="end">
          {{ payment.name }} {{ payment.lastName }}
        </ion-note>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-wrap">Rut/Identificacion</ion-label>
        <ion-note slot="end">
          {{ payment.documentId }}
        </ion-note>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-wrap">Celular</ion-label>
        <ion-note slot="end">
          {{ payment.phone }}
        </ion-note>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-wrap">Email</ion-label>
        <ion-note slot="end">
          {{ payment.email }}
        </ion-note>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-wrap">Numero Envio</ion-label>
        <ion-note slot="end">
          {{ payment.deliveryId || 'No ingresado'}}
        </ion-note>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-wrap">Nombre Transporte</ion-label>
        <ion-note slot="end">
          {{ payment.deliveryName || 'No ingresado'}}
        </ion-note>
      </ion-item>
    </div>
    <ng-template #paymentNotFound>
      <p>No se encuentran pagos realizados.</p>
    </ng-template>
    <ion-item-group>
      <ion-item-divider color="primary">
        <ion-label>Informacion Envio</ion-label>
      </ion-item-divider>
    </ion-item-group>
    <div padding *ngIf="order.delivered === 0; else prepared">
      <p>Orden no enviada al cliente</p>
      <ion-button size="large" 
        type="button"
        (click)="onPrepared()"
        expand="block">
        Orden Preparada
      </ion-button>
      <ion-label class="ion-text-wrap">
        *Envia email a cliente avisando que su orden esta lista para ser eviada
      </ion-label>
    </div>
    <ng-template #prepared>
      <ion-item>
        <ion-label class="ion-text-wrap">Estado</ion-label>
        <ion-note slot="end">
          Preparada pero no enviada
        </ion-note>
      </ion-item>
    </ng-template>
    <br>
    <div *ngIf="!(payment$| async)?.deliveryName; else prepared" padding>
      <form [formGroup]="deliveryFG" (ngSubmit)="onSetDelivery()">
        <ion-label position="stacked">Numero de Orden</ion-label>
        <ion-input placeholder="Ingresar numero de orden" type="text" formControlName="deliveryId"></ion-input>
        <ion-label position="stacked">Nombre Transporte</ion-label>
        <ion-select formControlName="deliveryName" okText="Confirmar" placeholder="Selecciona uno" cancelText="Cancelar">
            <ion-select-option value="Tur Bus/Starken">Tur Bus/Starken</ion-select-option>
            <ion-select-option value="TNT">TNT</ion-select-option>
            <ion-select-option value="Pullman Cargo">Pullman Cargo</ion-select-option>
        </ion-select>
        <div padding>
            <ion-button size="large" type="submit" [disabled]="deliveryFG.invalid"  expand="block" >Enviar</ion-button>
        </div>
    </form>
    </div>
  </ion-list>
</ion-content>