<app-header-template>
  <div title-template-header>Orderenes Pendientes</div>
</app-header-template>
<ion-content>
  <ngx-datatable
        class="material"
        [rows]="orders$| async "
        [columns]="columns"
        headerHeight="50"
        footerHeight="50"
        [reorderable]="reorderable"
        [columnMode]="flex"
        (activate)="onActivate($event)"
        [scrollbarH]="true"
        [scrollbarV]="true"
        rowHeight="auto"
        [limit]="100"
        [trackByProp]="id"
      ></ngx-datatable>
</ion-content>
