<div class="ion-page" *ngIf="(product$| async) as product">
  <!-- <app-header-template class="header">
    <div title-template-header>
      {{ product.name }}
      <button ion-button (click)="dismiss()">
        Cancelar
      </button>
    </div>
  </app-header-template> -->
  <ion-header>
    <ion-toolbar>
      <ion-title>
        <div title-template-header>
          {{ product.name }}
          <button class="close-modal" ion-button (click)="dismiss()">
            Cancelar
          </button>
        </div>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- <ion-header translucent>
    <ion-toolbar>
      <ion-title>
        {{ product.name }}
      </ion-title>
      <ion-buttons start>
        <button ion-button (click)="dismiss()">
          <ion-icon name="close-outline">Cancel</ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
    
  </ion-header> -->
  
  <ion-content>
    <ion-list>
        <ion-item>
          <img src="{{ product.featured }}" />
        </ion-item>
        <ion-item>
          <h2>{{ product.name }}</h2>
        </ion-item>
        <div *ngIf="mode === 'DETAIL IN ORDER';else productDetail">
          <ion-item>
            <p>Total Comprado {{ product.pivot | pivotFormat }}</p>
          </ion-item>
          <ion-item>
            <p>Precio Pagado $ {{ product.pivot.final_price }} por cada {{ product.pivot.unit }}</p>
          </ion-item>
        </div>
        <ng-template #productDetail>
          <ion-item>
            <p>Precio Actual $ {{ product.price }} por cada {{ product.unit }}</p>
          </ion-item>
        </ng-template>
    </ion-list>
  </ion-content>
</div>