<ion-content>
  <form class="form__login" [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <ion-list lines="full" class="ion-margin">
      <ion-item>
        <ion-label position="fixed">email</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>
      <div class="form__error" 
        *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched">
        Verifica el email.
      </div>
      <ion-item>
        <ion-label position="fixed">password</ion-label>
        <ion-input formControlName="password" type="password" placeholder="Enter Input"></ion-input>
      </ion-item>
      <div class="form__error" 
        *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">
        La contrasena debe tener al menos 3 caracteres.
      </div>
      <div class="form__login ion-text-center">
        <ion-spinner *ngIf="loading$ | async" name="bubbles"></ion-spinner>
      </div>
      <br>
      <ion-button type="submit" expand="full"
       [disabled]="(loginForm.invalid && loginForm.touched) || (loading$ | async)">
        Login
      </ion-button>
    </ion-list>
  </form>
</ion-content>


